@charset "utf-8";
/* CSS Document */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #3B3B3B;
	background-color: #FFF;
	margin: 0px;
}
#header ul li {
	float: left;
}

#header ul {
	margin: 0px;
	padding: 5px;
	list-style-type: none;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
#header {
	position: relative;
}
#footer ul li {
	float: left;
}

#footer ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: absolute;
	left: 0px;
	top: 10px;
}
#footer {
	position: relative;
}